@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url(./assets/font/Outfit-VariableFont_wght.ttf);
}

/* italic */
@font-face {
  font-family: "Roboto Serif";
  src: url("./assets/font/RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Open Sans";
  src: url(./assets/font/OpenSans-Italic-VariableFont_wdth\wght.ttf);
  font-style: italic;
  line-height: 1;
  line-height: normal;
}
@font-face {
  font-family: "DM Serif Text";
  src: url(./assets/font/DMSerifText-Italic.ttf);
  font-style: italic;
  line-height: 1;
  line-height: normal;
}
@font-face {
  font-family: "Lora";
  src: url(./assets/font/Lora-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

@theme {
  --font-outfit: "Outfit";
  --font-roboto-sans: "Roboto Serif";
  --font-open-sans: "Open Sans";
  --font-dm-serif-text: "DM Serif Text";
  --font-dm-serif-display: "DM Serif Display";
}

@layer components {
  :root {
    @apply text-[16px] max-[960px]:text-[14px] max-sm:text-[13px];
  }

  h1 {
    @apply text-[4rem] font-bold font-roboto-sans;
  }

  h2 {
    @apply text-[1.25rem] font-outfit;
  }

  h3 {
    @apply text-[.875rem] font-outfit;
  }

  p {
    @apply text-[1.25rem] font-outfit;
  }

  /* custom */

  .header-img {
    @apply absolute top-6/12 left-6/12 -translate-6/12 min-w-62.5 max-w-95 rounded-[1.5625rem] select-none hover:cursor-pointer;
  }
}
