@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url(./assets/font/Outfit-VariableFont_wght.ttf);
}

/* italic */
@font-face {
  font-family: "Roboto Serif";
  src: url("./assets/font/RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Open Sans";
  src: url(./assets/font/OpenSans-Italic-VariableFont_wdth\wght.ttf);
  font-style: italic;
  line-height: 1;
  line-height: normal;
}
@font-face {
  font-family: "DM Serif Text";
  src: url(./assets/font/DMSerifText-Italic.ttf);
  font-style: italic;
  line-height: 1;
  line-height: normal;
}
@font-face {
  font-family: "Lora";
  src: url(./assets/font/Lora-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

@theme {
  --font-outfit: "Outfit";
  --font-roboto-serif: "Roboto Serif";
  --font-open-sans: "Open Sans";
  --font-dm-serif-text: "DM Serif Text";
  --font-dm-serif-display: "DM Serif Display";
}

@layer components {
  :root {
    @apply text-[16px] max-[960px]:text-[14px] max-sm:text-[13px];
  }

  h1 {
    @apply text-[4rem] font-bold font-roboto-serif;
  }

  h2 {
    @apply text-[1.25rem] font-outfit;
  }

  h3 {
    @apply text-[.875rem] font-outfit;
  }

  p {
    @apply text-[1.25rem] font-outfit;
  }

  /* custom */

  .shadow-full {
    /* https://smoothshadows.com/#djEsMSw1LDAuMDUsNDcsMCwwLCMwMzA3MTIsI2YzZjRmNiwjZmZmZmZmLDI%3D */
    box-shadow: 0px 0px 2px rgba(3, 7, 18, 0.01),
      0px 0px 8px rgba(3, 7, 18, 0.02), 0px 0px 17px rgba(3, 7, 18, 0.03),
      0px 0px 30px rgba(3, 7, 18, 0.04), 0px 0px 47px rgba(3, 7, 18, 0.05);
  }

  .header-img {
    @apply absolute top-6/12 left-6/12 -translate-6/12 min-w-62.5 max-w-95 rounded-[1.5625rem] select-none hover:cursor-pointer;
  }

  .galary-img {
    @apply absolute transition-all duration-255 ease-in-out rounded-[.9375rem] shadow-[0px_0px_0px_10px_#ffffff];
  }
  .galary-div:hover .galary-img {
    @apply scale-105 cursor-pointer;
  }
  .galary-div:hover .galary-images-right1 {
    @apply translate-x-15;
  }
  .galary-div:hover .galary-images-right2 {
    @apply translate-x-25;
  }

  /* .galary-img {
    @apply -ml-15 rounded-[.9375rem] shadow-[0px_0px_0px_10px_#ffffff];
  } */

  /* .galary-div:hover .galary-img {
    @apply -ml-3;
  } */
}
